.auth {
    margin: 0;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;

    &__card {
        background: rgb(242, 176, 95, 1);
        padding: 50px;
        border-radius: 10px;
        box-shadow: 10px 10px 20px #b8bcc2, -10px -10px 20px #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
        width: 420px;
        
        &__inputs {
            .username,
            .password {
                display: flex;
                padding: 14px 45px;
                border: none;
                border-radius: 10px;
                background: white;
                box-shadow: inset 5px 5px 10px rgba(160, 120, 60, 0.3), inset -5px -5px 10px rgba(160, 120, 60, 0.5);
                outline: none;
                font-size: 14px;
                margin-bottom: 15px;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

h2 {
    text-align: center;
    color: rgb(255, 255, 255, 0.9);
    margin-bottom: 32px;
}


.logIn {
    padding: 10px;
    border: none;
    border-radius: 12px;
    background: rgb(254, 95, 30, 0.8);
    box-shadow: inset 5px 5px 10px rgba(160, 120, 60, 0.3), inset -5px -5px 10px rgba(160, 120, 60, 0.5);
    cursor: pointer;
    font-weight: bold;
    transform-origin: 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    color: white;
    margin-top: 12px;

    &:hover {
        background-color: rgb(254, 95, 30, 2);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
        transition: 0.3s ease;
        box-shadow: inset 5px 5px 10px rgba(160, 120, 60, 0.3), inset -5px -5px 10px rgba(160, 120, 60, 0.5);
    }

}

.signUp {
    padding: 12px;
    border: none;
    border-radius: 12px;
    background: rgb(254, 95, 30, 0.8);
    box-shadow: inset 5px 5px 10px rgba(160, 120, 60, 0.3), inset -5px -5px 10px rgba(160, 120, 60, 0.5);
    cursor: pointer;
    font-weight: bold;
    transform-origin: 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    color: white;

    &:hover {
        background-color: rgb(254, 95, 30, 2);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
        transition: 0.3s ease;
        box-shadow: inset 5px 5px 10px rgba(160, 120, 60, 0.3), inset -5px -5px 10px rgba(160, 120, 60, 0.5);
    }
}